
.cta-link {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://source.unsplash.com/1600x900/?restaurant-queue') no-repeat center center/cover;
    height: 22vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.hero-content h1 {
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    font-weight: 400;
}

.cta-button {
    background-color: #ff5722; 
    color: #fff;
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #e64a19;
}


section {
    padding: 4rem 1rem;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.features {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 4rem 1rem;
    background-color: #fff;
}

.feature-item {
    max-width: 300px;
    padding: 1.5rem;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.feature-item:hover {
    transform: translateY(-10px);
}

.icon-placeholder {
    width: 60px;
    height: 60px;
    background-color: #ff5722;
    margin: 0 auto 1rem;
    border-radius: 50%;
}

.problem-solution {
    background-color: #f8f8f8;
}

.benefits {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.benefit-card {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 450px;
}

.benefit-card h3 {
    color: #ff5722;
    margin-bottom: 1rem;
}

.benefit-card ul {
    list-style-position: inside;
    text-align: left;
}

.benefit-card li {
    margin-bottom: 0.5rem;
}

.restaurante-cta {
    background-color: #f7f7f7; 
    text-align: center; 
    padding: 50px 20px; 
}

.restaurante-cta h2 {
    color: #333; 
    font-size: 28px;
    margin-bottom: 20px; 
}

.btn-restaurante {
    display: inline-block;
    padding: 12px 24px;
    background-color: #ff5722; 
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease; 
}

.btn-restaurante:hover {
    background-color: #e64a19; 
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 2.5rem;
    }

    .features {
        flex-direction: column;
        align-items: center;
    }

    .benefits {
        flex-direction: column;
        align-items: center;
    }
}